body {
    margin: 0;
    font-family: sans-serif;
  }

  
.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #FFFFFA;
    color: #080705;
    border-bottom: 4px solid #080705;

  }

  .pfp {
    display: block;
    margin-right: auto;
    border-right: 5px solid black;
  }

  .pp {
    background-color: #4ab3fd;
    border-bottom: 4px solid #080705;
  }

  .description {
    position: absolute;
    top: 180px;
    left: 600px;
    width: 1000px;
    height: 100px;
    font-size: 30px;
    color:  #1f375d;
  }

  .gender{
    position: absolute;
    top: 460px;
    left: 600px;
    color: #1f375d;
    font-size: 25px;
  }

  .sosmed{
    font-size:15px;
    padding-left: 40px;
    position: relative;
  }

  .icon{
    position:relative;
    left:45px;
  }

.education{
 position:absolute;
 left:500px;
 bottom:40px;
 font-size:25px;
}

.Programming {
position: absolute;
left: 50px;
}

.Hobbies{
  position:absolute;
  left:1150px;
  bottom: 40px;
  font-size:25px;
}
